-- Script para arreglar la tabla pedidos y sus relaciones
-- 1. Mostrar información sobre las claves foráneas que referencian a pedidos
SELECT table_name, column_name, constraint_name, referenced_table_name, referenced_column_name
FROM information_schema.key_column_usage
WHERE referenced_table_name = 'pedidos'
AND table_schema = DATABASE();

-- 2. Script para eliminar y recrear las claves foráneas
-- Primero guardar esto en un archivo llamado fix-pedidos-table.sql
